<%- include('partials/header') %>

    <head>
        <title>Dynamically Add or Remove input fields in PHP with JQuery</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>
    <div class="container mt-5">
        <h1>ADD ROUTE</h1>

        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">

                        <!-- Makes POST request to /register route -->
                        <form name="add_name" id="add_name">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dynamic_field">
                                    <tr>
                                        <td><div>
                                            <div style="width: 84%; float:left;">
                                              <select name="location" id="location_name" style="width: 50%;">
                                                <option value="" disabled selected>enter location</option>
                                              </select>
                                            </div>
                                          </div></td>
                                        <td><button type="button" name="add" id="add" class="btn btn-success">Add
                                                More</button></td>
                                    </tr>
                                </table>
                                <input type="button" name="submit" id="submit" class="btn btn-info" value="Submit" />
                            </div>
                        </form>
                        <input type="text" class="locations" value="<%= data %>" style="display: none;">
                    </div>
                </div>
            </div>



        </div>
    </div>

    <%- include('partials/header') %>

        <script>
            $(document).ready(function () {
                var i = 1;
                $('#add').click(function () {
                    i++;
                    $('#dynamic_field').append('<tr id="row' + i + '"><td><div><div style="width: 84%; float:left;"><select name="location" id="location'+i+'"" style="width: 50%;"><option value="" disabled selected>enter location</option></select></div></div></td><td><button type="button" name="remove" id="' + i + '" class="btn btn-danger btn_remove">X</button></td></tr>');
                    var data= JSON.parse(document.querySelector(".locations").value);
                    var block="";
                    var id = "location"+i;
                    if(data.length == 0){
                        block='<option value="NULL">No Locations available</option>'
                    }
                    for(var j=0; j<data.length;j++){
                        block+='<option value="'+data[j].location+'">'+data[j].location+'</option>'
                    }
                    document.getElementById(id).innerHTML=block;
                });
                $(document).on('click', '.btn_remove', function () {
                    var button_id = $(this).attr("id");
                    $('#row' + button_id + '').remove();
                });
                $('#submit').click(function () {
                    $.ajax({
                        url: "/addroute",
                        method: "POST",
                        data: $('#add_name').serialize(),
                        success: function (data) {
                            alert(data);
                            console.log(data)
                            $('#add_name')[0].reset();
                        }
                    });
                    console.log($('#add_name').serialize())
                });
            });
            var data= JSON.parse(document.querySelector(".locations").value);
            var block="";
	
            if(data.length == 0){
                block='<option value="NULL">No Locations available</option>'
            }
            for(i=0; i<data.length;i++){
                block+='<option value="'+data[i].location+'">'+data[i].location+'</option>'
            }
            document.getElementById("location_name").innerHTML=block;

        </script>