<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/dashboard.css" />
</head>

<body>
    <header>
        <h1>
            Courier Management System
        </h1>
        <span>
            Enjoy hassle free deliveries
        </span>
    </header>

    <div class="container purple topBotomBordersIn">

        <a href="/addroute">ADD ROUTE</a>
        <a href="/addparcel">ADD PARCEL</a>
        <a href="/addlocation">ADD LOCATION</a>
        <a href="/updateparcel">UPDATE PARCEL</a>
        <a href="/traveltime">UPDATE TIME</a>
    </div>



    <footer>
        <span>Have a great day!</span>
    </footer>


</body>

</html>